{% extends "base.html" %}

{% block content %}
    <h1>DETAIL PAGE</h1>
    {% if movie.movie_image %}
        <img src="{{ movie.movie_image.url }}" alt="img" style="width: 12rem; height: 18rem; object-fit: cover;">
    {% endif %}
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.summary }}</p>
    <hr>
    <a href="{% url "movies:update" movie.pk %}" class="btn btn-secondary">UPDATE</a>
    <form action="{% url "movies:delete" movie.pk %}" method="POST" class="d-inline-block">
        {% csrf_token %}
        <input type="submit" value="DELETE" class="btn btn-danger">
    </form>
    <hr>
    <a href="{% url "movies:index" %}" class="btn btn-primary">BACK</a>
{% endblock  %}