<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark my-3">
        <a class="navbar-brand disabled text-white ms-3">
            SSAFY
        </a>
        <button class="navbar-toggler bg-secondary me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-secondary" href="{% url "movies:index" %}">INDEX <span class="visually-hidden">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="{% url "movies:create" %}">CREATE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="{% url "accounts:update" %}">회원정보수정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="{% url "change_password" user.pk %}">비밀번호변경</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="{% url "accounts:logout" %}">로그아웃</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="{% url "accounts:signup" %}">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="{% url "accounts:login" %}">로그인</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>